body{
background:#111;
color:white;
font-family:sans-serif;
}

.about{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:40px;
text-align:center;
}

h1{
color:gold;
margin-bottom:20px;
}
