
{% include "header.html" %}
<!-- //Blog section  -->
      <!-- <section class="site-section" id="blog-section" style="padding: none;"> -->
      <section class="site-section" id="blog-section" style="padding: 16rcap">
        <div class="container">
          <!-- Header -->
          <div class="header-row">
            <h2 class="section-title" style="color: #fd7e14;">Our Blog</h2>
          </div>

          <!-- Blog posts -->
          <div class="posts-row">
            <div class="post">
              <div class="h-entry">
                <a href="single.html">
                  <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid">
                </a>
                <h2 class="post-title"><a href="#">A Basic Guide to Starting a Franchise in the Philippines</a></h2>
                <div class="meta">Ham Brook <span class="dot">•</span> Jan 18, 2019<span class="dot">•</span> <a
                    href="#">News</a></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente
                  veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                <p><a href="#">Continue Reading...</a></p>
              </div>
            </div>
            <div class="post">
              <div class="h-entry">
                <a href="single.html">
                  <img src="/static/images/img_4.jpg" alt="Image" class="img-fluid">
                </a>
                <h2 class="post-title"><a href="#">A Basic Guide to Starting a Franchise in the Philippines</a></h2>
                <div class="meta">James Phelps <span class="dot">•</span> Jan 18, 2019<span class="dot">•</span> <a
                    href="#">News</a></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente
                  veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                <p><a href="#">Continue Reading...</a></p>
              </div>
            </div>
            <div class="post">
              <div class="h-entry">
                <a href="single.html">
                  <img src="/static/images/img_3.jpg" alt="Image" class="img-fluid">
                </a>
                <h2 class="post-title"><a href="#">A Basic Guide to Starting a Franchise in the Philippines</a></h2>
                <div class="meta">James Phelps <span class="dot">•</span> Jan 18, 2019<span class="dot">•</span> <a
                    href="#">News</a></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente
                  veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                <p><a href="#">Continue Reading...</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
     {% include "footer.html"%}