{% extends 'base.html '%}
{% block content %}


<!-- FAQs -->
      <section id="FAQs">
          <div class="section-header">
        <div style="margin-top:50px;">
          <h2 style="text-align:center; color: #e66e0d; padding: 6rcap; margin-bottom: 10px;">Frequently Asked Questions
          </h2>
          <div style="display:flex; flex-wrap:wrap; margin-top:5px; justify-content:center;">
            <!-- FAQ Column 1 -->
            <div style="flex:1; min-width:250px; max-width:600px; margin:10px;">
              <h3 style="color:#000;">Can I accept both Paypal and Stripe?</h3>
              <p>The refund period available is within 30 days of the purchase date. If you wish to request a refund,
                please do so within this timeframe by contacting our customer service team.
              </p>
            </div>
            <div style="flex:1; min-width:250px; max-width:600px; margin:10px;">
              <h3 style="color:#000;">What available is refund period?</h3>
              <p>We accept both PayPal and Stripe as payment methods, we also accept funds through banks transaction or
                wire transactions,also Easypaisa, JazzCash as well.</p>
            </div>

            <!-- FAQ Column 2 -->
            <div style="flex:1; min-width:250px; max-width:600px; margin:10px;">
              <h3 style="color:#000;">What is your opening time?</h3>
              <p>Our opening time is from 9:00 AM to 6:00 PM, Monday through Saturday. We are closed on Sundays. Feel
                free to visit us during these hours for any assistance or inquiries.
              </p>
            </div>
            <!-- Add more FAQs as needed -->
          </div>
        </div>
        </div>
      </div>
      </section>
{% endblock %}