{% extends 'base.html' %}


{% block content %}
    
 <section id="features" class="features-section">
        <div class="section-header">
          <h2 style="color: #e66e0d; text-align: center;">Our Premium Features</h2>
          <p style="padding-bottom: 1px;">Experience Professional support like never before</p>
        </div>
        <div class="features-grid">
          <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-user-shield"></i></div>
            <!-- <h3>Secure & Confidential</h3>
                <p>Bank-level encryption for all your data</p> -->
            <h2>Basic</h2>
            <div class="price"><b>$47 / year</b></div>
            <p>Ideal for individual users starting out.</p>
            <a href="#" class="btn btn-secondary">Buy Now</a>
          </div>
          <div class="feature-card">
            <div class="feature-icon"><i class="fa-solid fa-coins"></i></div>
            <h2>Preminum</h2>
            <div class="price"><b>$200 / year</b></div>
            <p>Perfect for growing businesses and teams.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
          <div class="feature-card">
            <div class="feature-icon"><i class="fa-solid fa-dollar-sign"></i></div>
            <h2>Professional</h2>
            <div class="price"><b>$750 / year</b></div>
            <p>Best for professional agencies and large teams.</p>
            <a href="#" class="btn btn-secondary">Buy Now</a>
          </div>
        </div>
        </div>
      </section>
{% endblock  %}