body{
background:#111;
color:white;
font-family:sans-serif;
}

.contact{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

form{
display:flex;
flex-direction:column;
width:300px;
gap:15px;
}

input,textarea{
padding:10px;
border:none;
border-radius:5px;
}

button{
background:gold;
border:none;
padding:12px;
cursor:pointer;
}
